a {
  text-decoration: none;
  color: black;
}

.header {
  background-color: black;
  font-size: 24px;
}

.container {
  width: 90%;
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
}

.container * {
  color: white;
}

.name {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.nav-items {
  margin-left: auto;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-items li a {
  color: white;
}

.nav-items li a:hover {
  color: #D0A650;
  transition: color 0.1s linear 0.1s;
}

.nav-items li:not(:first-child) {
  margin-left: 36px;
}

.joonhee-logo {
  max-width: 120px;
}

.home-redirect {
  display: flex;
  align-items: center;
}