@import url("https://use.typekit.net/ily8zgu.css");

html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "futura-pt", sans-serif;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.error {
  color: red;
  margin: 0;
}

.success {
  color: green;
  margin: 0;
}