@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  background-color: #f1f1f1;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  width: 90%;
  margin: 2rem auto;
  max-width: 1000px;
}

* {
  box-sizing: border-box;
  font-family: "Preahvihear", sans-serif;
}

.error {
  color: red;
}

.success {
  color: green;
}

.section-title {
  font-size: 42px;
  margin-top: 24px;
  text-align: center;
  color: #244aa5;
  line-height: 60px;
  margin-bottom: 0px;
}

.page-animation {
  animation: popupText 0.6s ease-in 1;
}

@keyframes popupText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 750px) {
  .section-title {
    font-size: 54px;
    margin-top: 30px;
    text-align: left;
  }
}

.button-stroke {
  display: block;
  width: calc(100%);
  height: 25px;
  stroke: #d0a650;
  position: absolute;
  left: 10px;
  bottom: -20px;
  stroke-width: 4;
}

.button-stoke > * {
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
  stroke: darken(#263238, 10%);
  stroke-width: 5;
}
