.form {
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.form input {
  flex-grow: 1;
  border-radius: 10px;
  font-size: 18px;
  padding: 4px 36px 4px 12px;
  border: 1px solid black;
}

.form input:focus {
  border: 1px solid black;
  outline: none;
}

.form button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
}
