.comment-form {
  background-color: white;
  padding: 16px 10%;
  border: 1px solid black;
  margin-bottom: 24px;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form h2 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: normal;
}

.comment-form input, .comment-form textarea {
  padding-left: 5px;
  font-size: 16px;
}
.comment-form textarea {
  border-top: none;
}

.comment-form input:focus, .comment-form textarea:focus {
  outline: none;
}

.comment-form button {
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
  padding: 5px 15px;
  background-color: #244AA5;
  color: white;
  font-size: 16px;
}

.comment-form button:hover {
  cursor: pointer;
}