.post {
  margin-bottom: 50px;
  background-color: #f1f1f1;
}

.title {
  font-size: 42px;
  margin: 0px;
  color: #244aa5;
  line-height: 42px;
}

.post img {
  max-width: 100%;
}

.author {
  margin: 0;
}

.author a:hover {
  text-decoration: underline;
  color: #d0a650;
}

.date {
  margin: 0;
}

.post-contents {
  margin-top: 30px;
}

.post-contents > *:first-child {
  margin-top: 0px;
}

.post-contents p {
  font-size: 18px;
}

.post-contents h1 {
  font-size: 32px;
}

.post-contents h2 {
  font-size: 24px;
}

.post-contents h3 {
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 54px;
    line-height: 60px;
  }
  .post {
    padding: 30px 10%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }
}
