.post {
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}

.post:hover {
  cursor: pointer;
}

.post * {
  margin: 0;
}

.post-name {
  font-size: 36px;
}

.post-date {
  margin-top: -4px;
}

.post-summary {
  margin-top: 6px;
  font-size: 18px;
}
