.post:nth-of-type(n + 2){
  margin-top: 20px;
}

.post:last-of-type{
  margin-bottom: 30px;
}

.post {
  border: 1px solid #0C2340;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}

.post:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.content-container {
  margin: 15px 25px;
}

.title {
  margin: 0;
}

.date {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.summary {
  margin: 2.5px 0px;
  font-size: 18px;
  font-weight: 400px;
}

.post-buttons-container {
  display: flex;
  gap: 7.5px;
  justify-content: flex-end;
}

.post-buttons-container button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1.5px solid black;
}


.post-visible:hover {
  background-color: rgb(240, 240, 240);
}

.post-delete {
  background-color: #FE0000;
  color: white;
}

.post-delete:hover {
  background-color: #f72424;
}

.post-edit {
  background-color: #0C2340;
  color: white;
}

.post-edit:hover {
  background-color: #0e3463;
}