@import url("https://use.typekit.net/ily8zgu.css");

html, body {
  margin: 0;
}

body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'futura-pt', sans-serif;
}

.white {
  color: white;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

.error {
  color: red;
}

.error-input {
  border: 2px solid red;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.generic-btn {
  background-color: #244AA5;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
}

.generic-btn:hover {
  background-color: #0C2340;
}